################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lifex.API/.vs
/Lifex.API/Lifex.API/obj
/LifEx.Infrastructure/obj
/Lifex.API/Lifex.API/LifEx.API.csproj.user
/LifEx.Web/node_modules
/LifEx.Infrastructure/bin/
/Lifex.API/Lifex.API/bin/